@use "reset";

header {
    background-color: reset.$color_fondo;
    padding: 15px;

    .divlogo {
        text-align: center;
    }

    .logo {
        border: 5px solid reset.$color_contenido;
        border-radius: 10px;
        padding: 5px;
        margin: 5px auto;
        inline-size: 200px;
        transition: transform 0.5s ease;

        &:hover {
            transform: rotate(360deg);

        }
    }
}


h1,
h2 {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    color: rgb(20, 14, 83);
    font-family: reset.$font_salsa;
}


p {
    padding: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    color: reset.$color_textos;
    text-align: justify;
}


.navbar {
    display: flex;
    z-index: 1050;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: reset.$color_body;

    a {
        text-decoration: none;
        margin: 10px 10px;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px;
        background-color: reset.$color_body;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: reset.$color_boton;
            color: reset.$color_contenido;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
             border-radius: 5px;
               z-index: 2;  
        width: auto;  
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;  

        .dropdown-item {
            padding: 8px 16px;
            font-size: 0.85rem;
            font-weight: normal;
            border-radius: 5px;
            white-space: nowrap;  

            &:hover {
                background-color: reset.$color_boton;
                color: reset.$color_contenido;
            }
        }
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}