@use "reset";

main {
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle, reset.$color_contenido, reset.$color_body);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 10px reset.$color_sombra;
}

.contenido-principal {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#intro {
    flex: 1;
    padding: 20px;
}

.complemento {
    flex-shrink: 0;
    width: 300px;
    padding: 20px;
    border: 4px solid reset.$color_fondo;
    border-radius: 10px;
    background-color: reset.$color_contenido;

    animation-name: titilar-aside;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-family: reset.$font_roboto;

    .aside-titulo {
        font-family: reset.$font_salsa;
        color: reset.$color_textos;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .aside-texto {
        color: reset.$color_textos;
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .aside-lista {
        list-style-type: disc;
        margin-left: 20px;
        color: reset.$color_textos;

        .ejemplo {
            font-size: 0.9rem;
            margin-bottom: 10px;
            color: reset.$color_textos;
            font-weight: bold;
        }
    }
}


@keyframes titilar-aside {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.btn {
    @include reset.button-styles(reset.$color_fondo, white);
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
        transform: scale(1.2, 1.2);
        background-color: lighten(reset.$color_fondo, 15%);
    }
}