@use "reset";

.container-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100vh;
  padding: 20px;
  background-image: url(../images/servidor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  .beach-container {
    max-width: 600px;
    margin: 20px;
  }

  .error-code {
    font-size: 3rem;
    font-weight: bold;
  }

  .nexus-img {
    margin: 20px 0;
    max-width: 100%;
  }

  .message,
  .reload-message,
  .beach-message {
    font-size: 1.2rem;
  }

  .return-link {
    font-size: 1.5rem;
    color: #FFD700;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #FFD700;
      color: black;
    }
  }
}
