@use "reset";


.containerservicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    overflow-x: hidden;

    .servicio-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicios {
        width: 200px;
        border-radius: 10px;
        border: reset.$color_fondo solid 5px;
        padding: 5px;
        margin: 10px;
    }
}