@use "reset";

.testimonial {
    background-color: reset.$color_contenido;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px reset.$color_sombra;


    .testimonial-image {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 2px solid #030202;
            
        }
    }
}

.carousel-inner {
    .carousel-item {
        text-align: center;

        .testimonial {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}